
*.v2
/.vs
/SimpleWithMongo/obj/Debug/net8.0
/SimpleWithMongo/obj/Debug/net8.0
/SimpleWithMongo/obj/Debug
/SimpleWithMongo/obj
/.vs
/SimpleWithMongo/bin
/.vs/SimpleWithMongo/v17
/.vs/SimpleWithMongo
/SimpleWithMongo/bin/Debug/net8.0
/.vs/ProjectEvaluation
